body {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  input[type="number"], button {
    width: 240px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin: 10px;
    background-color: lemonchiffon;
  }
  
  button {
    background-color: #c9e9e9;
  }
  
  
    button:hover {
      background-color: palevioletred;
    }
  
    #result {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }